<center><h1><font color="red"><background color="yellow">CRUCE DE NUMEROS TELEFONICOS</background></font></h1></center>

## importar las librerias

In [1]:
import pandas as pd
import MySQLdb

## Connexion a la base de datos

In [2]:
#conecion a la BD
db = MySQLdb.connect(host="172.18.55.6",    # tu host, usualmente localhost
                     user="comandato",         # tu usuario
                     passwd="comandato123",  # tu password
                     db="TELEFONICOS_NUMEROS")        # el nombre de la base de datos

## Leer base en formato excel de las cedulas que requieren numeros telefonicos

In [3]:
leer_archivo=pd.read_excel(open('COMBINAR CORRIENTE.xlsx','rb'), sheet_name='BASE', dtype={"CEDULA": str,"CED":str})

In [4]:
leer_demografico=pd.read_excel(open('COMBINAR CORRIENTE.xlsx','rb'), sheet_name='DEMOGRAFICOS', dtype={"CEDULA": str,"NUMERO":str})

## Consultar numeros de la BD

### -Querry para la consulta de telefonos

In [5]:
consulta="""SELECT 
                CONCAT(CEDULA) as CEDULA,
                CONCAT('0',NUMERO) as NUMERO,
                CASE CONTACTO
                    WHEN '1' THEN 1
                    WHEN '2' THEN 2
                    WHEN '3' THEN 5
                    WHEN '4' THEN 4
                    WHEN '5' THEN 3
                    WHEN ' ' THEN 3
                    WHEN '' THEN 3
                    WHEN 'TITULAR' THEN 1
                    WHEN 'TERCERO' THEN 2
                    WHEN 'EQUIVOCADO' THEN 5
                    WHEN 'NO CONTACTO' THEN 4
                    WHEN NULL THEN 3
                    ELSE  3
                END  AS  dueno
            FROM
                TELEFONICOS_NUMEROS.TELEFONOS HAVING dueno IN (1,2,5) ORDER BY dueno;"""


#

### -Ejecucion del querry y vaciado en un dataframe

In [6]:
DEMO=pd.read_sql(consulta, con=db)

## Cruzar numeros telefonicos

In [7]:
result = pd.merge(leer_archivo,leer_demografico,on='CEDULA',how='left')

In [8]:
result1 = pd.merge(result,DEMO,on=['CEDULA','NUMERO'],how='left')

In [9]:
result1['dueno'].replace(to_replace=[1,2,5],value=['TITULAR','TERCERO','EQUIVOCADO'],inplace=True)

In [10]:
newresult=result1[['NUMERO','NOMBRE','CED','SALDO','SUBCAMPANAPORCLIENTE','FECHA_COACTIVA','CARTERA','NUEVOS','TIPO','TIPO_ACUERDO','min','max','PLACA','NUEVO','DEMO','DEFINICION','CONTACTO','dueno','NUMPLACA','CAMPANA']]

In [11]:
newresult['NUMERO']=newresult['NUMERO'].fillna('SIN DEMOGRAFICO')

c:\users\michael\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
newresult.drop_duplicates(['NUMERO','CED'], keep='first',inplace=True)

c:\users\michael\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
writer = pd.ExcelWriter('cruce final.xlsx', engine='xlsxwriter')
newresult.to_excel(writer, sheet_name='BASE')
worksheet = writer.sheets['BASE']
writer.save()

In [14]:
def agregar_ceros(num):
    ced=num['IDENTIFICACION_DEUDOR']
    if len(ced)==9 or len(ced)==12 :
        if ced.isdigit():
            return '0'+ced
    return ced

In [15]:
leer_archivo_IVR = newresult

In [16]:
leer_demografico=pd.read_excel(open('Sistema de cobro.xlsx','rb'), sheet_name='Demografico', dtype={"IDENTIFICACION_DEUDOR": str,"TELEFONO":str})

In [17]:
leer_demografico=leer_demografico[['IDENTIFICACION_DEUDOR','TELEFONO']]

In [18]:
leer_demografico.head()

  IDENTIFICACION_DEUDOR   TELEFONO
0               3728722   42203770
1               3728722  982906822
2               3728722  993681562
3             100025030   42018327
4             100025030  990806079

In [19]:
leer_demografico['IDENTIFICACION_DEUDOR']=leer_demografico.apply(agregar_ceros,axis=1)

In [20]:
leer_demografico['ASIGNADOS']='SI'

In [21]:
leer_demografico = leer_demografico.rename(columns={'IDENTIFICACION_DEUDOR':'CED','TELEFONO':'DEMO'})

In [22]:
leer_demografico.head()

          CED       DEMO ASIGNADOS
0     3728722   42203770        SI
1     3728722  982906822        SI
2     3728722  993681562        SI
3  0100025030   42018327        SI
4  0100025030  990806079        SI

In [23]:
leer_archivo_IVR1=leer_archivo_IVR.copy()
leer_demografico1=leer_demografico.copy()

In [24]:
leer_archivo_IVR1.drop_duplicates(['CED','DEMO'], keep='first',inplace=True)

In [25]:
leer_demografico1.drop_duplicates(['CED','DEMO'], keep='first',inplace=True)

In [26]:
leer_archivo_IVR1['DEMO']=leer_archivo_IVR1['DEMO'].astype(object)

In [27]:
verificacion = pd.merge(leer_archivo_IVR1,leer_demografico1,on=['CED','DEMO'],how='left')

In [28]:
verificacion.drop_duplicates(['DEMO','CED'], keep='first',inplace=True)
nuevo_archivo='VERIFICADOS.xlsx'

In [29]:
writer = pd.ExcelWriter(nuevo_archivo, engine='xlsxwriter')
verificacion.to_excel(writer, sheet_name='BASE')
worksheet = writer.sheets['BASE']
writer.save()

In [30]:
nuevo_archivo='DEMOS.xlsx'
writer = pd.ExcelWriter(nuevo_archivo, engine='xlsxwriter')
DEMO.to_excel(writer, sheet_name='TELEFONOS')
worksheet = writer.sheets['TELEFONOS']
writer.save()

In [ ]:
jeanpl.k44@gmail.com