In [1]:
import pandas as pd
import mysql.connector as mc

In [2]:
db = mc.connect(
  host='172.18.55.6',
  user='comandato',
  passwd='comandato123',
)

In [3]:
Anio='2019'
Mes='05'
Dia_act='15'

In [4]:
fecha_ini='2019-05-01 00:00:00'
fecha_fin='2019-05-31 21:00:00'

In [5]:
fecha_inivr='2019-05-01 00:00:00'
fecha_finivr='2019-05-31 21:00:00'

# CONSULTA DE GESTION MASIVOS ASESOR

In [6]:
querr_ultmes_asesor="""SELECT * 
                       FROM sistemecuador_atm.gestion 
                       where FECHA_GESTION between '{0}' and '{1}';""".format(fecha_ini,fecha_fin)

In [7]:
querr_ultmes_masivo="""SELECT * 
                       FROM sistemecuador_atm.gestion_ivr
                       where FECHA_GESTION between '{0}' and '{1}';""".format(fecha_inivr,fecha_finivr)

In [8]:
ultmes_asesor=pd.read_sql(querr_ultmes_asesor, con=db)

In [9]:
ultmes_asesor.columns

Index(['idGESTION', 'TIPO_GESTION', 'NRO_IDENTIFICACION_CLIENTE',
       'CASA_COBRANZA', 'COD_AGENTE', 'USUARIO_SAC', 'FECHA_GESTION',
       'ACCION_REALIZADA', 'RESPUESTA_OBTENIDA', 'CONTACTO_GESTIONO',
       'COMENTARIOS_GESTIONO', 'NUMERO_GESTION', 'MOTIVO_NO_PAGO',
       'FECHA_PROXIMA_GESTION', 'TIEMPO_GESTION', 'NRO_CUENTA_PROMESA',
       'VALOR_PROMESA', 'FECHA_PAGO_PROMESA', 'DIRECCION_VISITA', 'SUBCAMPAÑA',
       'CANAL_GESTION', 'archivo_audio'],
      dtype='object')

In [10]:
#ultmes_asesor[ultmes_asesor['NRO_IDENTIFICACION_CLIENTE']=='1000678738'][['NUMERO_GESTION','FECHA_GESTION','RESPUESTA_OBTENIDA']]

In [11]:
ultmes_masivo=pd.read_sql(querr_ultmes_masivo, con=db)

### ORDEN POR RESPUESTAS

In [12]:
ultmes_asesor.RESPUESTA_OBTENIDA = ultmes_asesor.RESPUESTA_OBTENIDA.astype('category')
order_resp_ase=['ACUERDO DE PAGO','ACUERDO DE CONVENIO','LOCALIZADO SIN ACUERDO',
                'YA PAGO','VOLVER A LLAMAR','INFRACTOR CUELGA LLAMADA','RECLAMO VENDIO VEHICULO',
                'RENUENTE','ACTUALIZACION DATOS','RECLAMO','MENSAJE CON TERCERO','FALLECIDO / OTROS',
                'AQUI NO VIVE / TRABAJA','BUZON DE MENSAJES','TELEFONO DANADO','TELEFONO OCUPADO','NO CONTESTA','','SIN GESTION']
ultmes_asesor.RESPUESTA_OBTENIDA=ultmes_asesor.RESPUESTA_OBTENIDA.cat.set_categories(order_resp_ase)

ultmes_asesor.CONTACTO_GESTIONO  = ultmes_asesor.CONTACTO_GESTIONO.astype('category')
order_cont_ase=['TITULAR','CLIENTE','TERC. VALIDO','TERC. NO VALIDO','NO CONTACTO','SIN GESTION']
ultmes_asesor.CONTACTO_GESTIONO=ultmes_asesor.CONTACTO_GESTIONO.cat.set_categories(order_cont_ase)

ultmes_asesor=ultmes_asesor.sort_values(by=['CONTACTO_GESTIONO','RESPUESTA_OBTENIDA'],ascending = True)

In [13]:
gest_ase_porID = ultmes_asesor.drop_duplicates(['NRO_IDENTIFICACION_CLIENTE'], keep='first')

In [14]:
gest_ase_porID_DEM = ultmes_asesor.drop_duplicates(['NRO_IDENTIFICACION_CLIENTE','NUMERO_GESTION'], keep='first')

In [15]:
ultmes_masivo.RESPUESTA_OBTENIDA=ultmes_masivo.RESPUESTA_OBTENIDA.astype('category')
order_resp_ivr=['CONTESTA IVR','SMS ENVIADO','NO CONTESTA IVR','','SIN GESTION']
ultmes_masivo.RESPUESTA_OBTENIDA=ultmes_masivo.RESPUESTA_OBTENIDA.cat.set_categories(order_resp_ivr)

ultmes_masivo = ultmes_masivo.sort_values(by=['RESPUESTA_OBTENIDA'],ascending=True)

In [16]:
gest_mas_porID = ultmes_masivo.drop_duplicates(['NRO_IDENTIFICACION_CLIENTE'],keep='first')

In [17]:
gest_mas_porID_DEM = ultmes_masivo.drop_duplicates(['NRO_IDENTIFICACION_CLIENTE','NUMERO_GESTION'],keep='first')

In [18]:
campos=['NRO_IDENTIFICACION_CLIENTE','RESPUESTA_OBTENIDA','CONTACTO_GESTIONO']
campos1=['NRO_IDENTIFICACION_CLIENTE','RESPUESTA_OBTENIDA','CONTACTO_GESTIONO','NUMERO_GESTION']

In [19]:
gest_ase_porID = gest_ase_porID[campos]
gest_ase_porID = gest_ase_porID.rename(columns={'RESPUESTA_OBTENIDA':'CALL_MES','CONTACTO_GESTIONO':'CONT_MES'})

gest_ase_porID_DEM = gest_ase_porID_DEM[campos1]
gest_ase_porID_DEM = gest_ase_porID_DEM.rename(columns={'RESPUESTA_OBTENIDA':'CALL_MESTEL','CONTACTO_GESTIONO':'CONT_MESTEL','NUMERO_GESTION':'NUMERO'})

gest_mas_porID = gest_mas_porID[campos]
gest_mas_porID = gest_mas_porID.rename(columns={'RESPUESTA_OBTENIDA':'CALL_MESMAS','CONTACTO_GESTIONO':'CONT_MESMAS'})

gest_mas_porID_DEM = gest_mas_porID_DEM[campos1]
gest_mas_porID_DEM = gest_mas_porID_DEM.rename(columns={'RESPUESTA_OBTENIDA':'CALL_MESMASTEL','CONTACTO_GESTIONO':'CONT_MESMASTEL','NUMERO_GESTION':'NUMERO'})

In [20]:
gest_ase_porID_DEM.head()

   NRO_IDENTIFICACION_CLIENTE      CALL_MESTEL CONT_MESTEL      NUMERO
4                  0909622037  ACUERDO DE PAGO     TITULAR  0999113107
9                  0916577083  ACUERDO DE PAGO     TITULAR  0959941138
10                 0917103079  ACUERDO DE PAGO     TITULAR  0988151531
21                 0914876974  ACUERDO DE PAGO     TITULAR  0997330142
28                 0910705979  ACUERDO DE PAGO     TITULAR  0994128360

### ASIGNACION

In [21]:
def agregar_ceros(base):
    ced=base['IDENTIFICACION_DEUDOR']
    if len(ced)==9 or len(ced)==12 :
        if ced.isdigit():
            return '0'+ced
    return ced

In [22]:
def verificar_tipo(base):
    ced=base['ID']
    if len(ced)==13:
        return 'RUC'
    return 'CED'

In [23]:
def ultimo_digito(base):
    placa=base['PLACA_VEHICULO']
    placa=str(placa)
    if (placa == ''):
        return '10'
    if placa[-1].isdigit():
        return placa[-1]
    return '10'

In [24]:
def convenio(base):
    if (base['SALDO'] >= 115.8 and base['DIAS_MORA'] >= 180):
        return 'SI'
    return 'NO'

In [25]:
def diasmora(base):
    if(base['DIAS_MORAmin'] >= 180):
        return 'MAYOR A 180'
    return 'MENOR A 180'

In [26]:
#nombre de los archivos Asignacion normal
nom_actual_cor='..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\MAYO\Sistema de cobro_'+Dia_act+'_'+Mes+'_'+Anio+'.xlsx'
nombre_hoja_cor='Asignacion'
cartera_cor='CORRIENTE'

# nombre de los archivos Menores
nom_actual_men='..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\MAYO\Sistema de cobro_'+Dia_act+'_'+Mes+'_'+Anio+'.xlsx'
nombre_hoja_men='Menores'
cartera_men='MENORES'

# nombre de los archivos Demografico
nom_actual_dem='..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\MAYO\Sistema de cobro_'+Dia_act+'_'+Mes+'_'+Anio+'.xlsx'
nombre_hoja_dem='Demografico'

In [27]:
#leer archivo excel asignacion actual y anterior
asignacion_actual_cor=pd.read_excel(open(nom_actual_cor,'rb'), sheet_name=nombre_hoja_cor, dtype={"IDENTIFICACION_DEUDOR": str})
#leer archivo excel asignacion actual y anterior
# asignacion_actual_men=pd.read_excel(open(nom_actual_men,'rb'), sheet_name=nombre_hoja_men, dtype={"IDENTIFICACION_DEUDOR": str})
#leer archivo excel asignacion actual y anterior
asignacion_actual_dem=pd.read_excel(open(nom_actual_dem,'rb'), sheet_name=nombre_hoja_dem, dtype={"IDENTIFICACION_DEUDOR": str,'TELEFONO':str})

In [28]:
asignacion_actual_dem.head()

,IDENTIFICACION_DEUDOR,CASA,TELEFONO,ESTADO_CREDITO,ESTADO,PRIORIDAD,TIPO
0,909884108,SISTEMA DE COBRO DEL ECUADOR,042795883,COACTIVO,BUENO,3.0,DOMICILIO
1,916819485,SISTEMA DE COBRO DEL ECUADOR,042373469,COACTIVO,BUENO,3.0,DOMICILIO
2,904786514,SISTEMA DE COBRO DEL ECUADOR,042213249,CONVENIOS,BUENO,3.0,DOMICILIO
3,920722113,SISTEMA DE COBRO DEL ECUADOR,042236895,COACTIVO,BUENO,3.0,DOMICILIO
4,925393019,SISTEMA DE COBRO DEL ECUADOR,042493949,CONVENIOS,BUENO,3.0,DOMICILIO

In [29]:
asignacion_actual_cor= asignacion_actual_cor.fillna('')
asignacion_actual_cor['ID']=asignacion_actual_cor.apply(agregar_ceros,axis=1)

In [30]:
asignacion_actual_cor['SUBCAMPANAPORCUENTA'].replace(to_replace=[''],value='4. VENCIDA FASE I',inplace=True)

In [31]:
try:
    asignacion_actual_cor['FECHA_COACTIVO']=asignacion_actual_cor['FECHA_COACTIVA'].replace(to_replace=[''],value='NO COACTIVA',inplace=True)
except:
    try:
        asignacion_actual_cor['FECHA_COACTIVO']=asignacion_actual_cor['FECHA_COACTIVO'].replace(to_replace=[''],value='NO COACTIVA',inplace=True)
    except:
        asignacion_actual_cor['FECHA_COACTIVO']='SIN FECHA'

In [32]:
asignacion_actual_cor[asignacion_actual_cor['RAZONSOCIAL']==918217126]=''

In [33]:
asignacion_actual_cor['NOMBRE']=asignacion_actual_cor['RAZONSOCIAL']+' '+asignacion_actual_cor['PRIMER_APELLIDO']+' '+asignacion_actual_cor['SEGUNDO_APELLIDO']+' '+asignacion_actual_cor['PRIMER_NOMBRE']+' '+asignacion_actual_cor['SEGUNDO_NOMBRE']

In [34]:
asignacion_actual_cor['CARTERA']='CORRIENTE'

In [35]:
asignacion_actual_cor['TIPO']=asignacion_actual_cor.apply(verificar_tipo,axis=1)
asignacion_actual_cor['U_PLACA']=asignacion_actual_cor.apply(ultimo_digito,axis=1)

In [36]:
try:
    base_gestion_cor=asignacion_actual_cor[['IDENTIFICACION_DEUDOR','ID','NOMBRE','SALDO','FECHA_COACTIVA','SUBCAMPANAPORCUENTA','DIAS_MORA','CARTERA','TIPO','U_PLACA']]
    ordenada_cor=base_gestion_cor.groupby(['IDENTIFICACION_DEUDOR','ID','NOMBRE','SUBCAMPANAPORCUENTA','CARTERA','TIPO']).agg({'FECHA_COACTIVA':'min','SALDO':'sum','DIAS_MORA':['min', 'max'],'U_PLACA':'min'})
except:
    base_gestion_cor=asignacion_actual_cor[['IDENTIFICACION_DEUDOR','ID','NOMBRE','SALDO','FECHA_COACTIVO','SUBCAMPANAPORCUENTA','DIAS_MORA','CARTERA','TIPO','U_PLACA']]
    ordenada_cor=base_gestion_cor.groupby(['IDENTIFICACION_DEUDOR','ID','NOMBRE','SUBCAMPANAPORCUENTA','CARTERA','TIPO']).agg({'FECHA_COACTIVO':'min','SALDO':'sum','DIAS_MORA':['min', 'max'],'U_PLACA':'min'})

In [37]:
# asignacion_actual_men= asignacion_actual_men.fillna('')
# asignacion_actual_men['ID']=asignacion_actual_men.apply(agregar_ceros,axis=1)
# asignacion_actual_men['SUBCAMPANAPORCLIENTE'].replace(to_replace=[''],value='4. VENCIDA FASE I',inplace=True)
# try:
#     asignacion_actual_men['FECHA_COACTIVA'].replace(to_replace=[''],value='NO COACTIVA',inplace=True)
# except:
#     try:
#         asignacion_actual_men['FECHA_COACTIVO'].replace(to_replace=[''],value='NO COACTIVA',inplace=True)
#     except:
#         asignacion_actual_cor['FECHA_COACTIVO']='SIN FECHA'
# asignacion_actual_men['NOMBRE']=asignacion_actual_men['RAZONSOCIAL']+' '+asignacion_actual_men['PRIMER_APELLIDO']+' '+asignacion_actual_men['SEGUNDO_APELLIDO']+' '+asignacion_actual_men['PRIMER_NOMBRE']
# asignacion_actual_men['CARTERA']='MENORES'

In [38]:
# asignacion_actual_men['TIPO']=asignacion_actual_men.apply(verificar_tipo,axis=1)
# asignacion_actual_men['U_PLACA']=asignacion_actual_men.apply(ultimo_digito,axis=1)

In [39]:
# try:
#     base_gestion_men=asignacion_actual_men[['IDENTIFICACION_DEUDOR','ID','NOMBRE','SALDO','FECHA_COACTIVA','SUBCAMPANAPORCLIENTE','DIAS_MORA','CARTERA','TIPO','U_PLACA']]
#     ordenada_men=base_gestion_men.groupby(['IDENTIFICACION_DEUDOR','ID','NOMBRE','SUBCAMPANAPORCLIENTE','CARTERA','TIPO']).agg({'FECHA_COACTIVA':'min','SALDO':'sum','DIAS_MORA':['min', 'max'],'U_PLACA':'min'})
# except:
#     base_gestion_men=asignacion_actual_men[['IDENTIFICACION_DEUDOR','ID','NOMBRE','SALDO','FECHA_COACTIVO','SUBCAMPANAPORCLIENTE','DIAS_MORA','CARTERA','TIPO','U_PLACA']]
#     ordenada_men=base_gestion_men.groupby(['IDENTIFICACION_DEUDOR','ID','NOMBRE','SUBCAMPANAPORCLIENTE','CARTERA','TIPO']).agg({'FECHA_COACTIVO':'min','SALDO':'sum','DIAS_MORA':['min', 'max'],'U_PLACA':'min'})

In [40]:
# base_total=pd.concat([ordenada_cor, ordenada_men])
base_total=ordenada_cor

In [41]:
base_total = base_total.reset_index()

In [42]:
base_total.columns = ['IDENTIFICACION_DEUDOR','ID','NOMBRE','SUBCAMPANAPORCLIENTE','CARTERA','TIPO','FECHA_COACTIVA','SALDO','DIAS_MORAmin','DIAS_MORAmax','U_PLACA']

In [43]:
base_total.drop_duplicates(['IDENTIFICACION_DEUDOR'],keep='first',inplace=True)

In [44]:
base_total=base_total[base_total['IDENTIFICACION_DEUDOR']!='']

In [45]:
base_total['GENERACION_CONVENIO']='SI'
#base_total.apply(convenio,axis=1)
base_total['MORA']=base_total.apply(diasmora,axis=1)

In [46]:
base_total = base_total.rename(columns={'ID':'NRO_IDENTIFICACION_CLIENTE'})

In [47]:
base_total.head(50)

,IDENTIFICACION_DEUDOR,NRO_IDENTIFICACION_CLIENTE,NOMBRE,SUBCAMPANAPORCLIENTE,CARTERA,TIPO,FECHA_COACTIVA,SALDO,DIAS_MORAmin,DIAS_MORAmax,U_PLACA,GENERACION_CONVENIO,MORA
0,00042448K,00042448K,ARAGON JUAREZ SERGIO OTTONIEL,MULTAS NUEVAS,CORRIENTE,CED,NaN,115.8,205,205,9,SI,MAYOR A 180
1,100025030,0100025030,CRESPO DELGADO JULIO TEODORO,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.3,382,382,10,SI,MAYOR A 180
2,1000559797,1000559797,RECALDE ESPINOSA ALFONSO OSWALDO,MULTAS NUEVAS,CORRIENTE,CED,NaN,248.8,114,562,10,SI,MENOR A 180
3,1000584647,1000584647,DELGADO CRIBAN NORBERTO,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,362,362,2,SI,MAYOR A 180
4,1000620623,1000620623,REVELO JOSE ELIAS,MULTAS NUEVAS,CORRIENTE,CED,NaN,38.6,219,275,10,SI,MAYOR A 180
5,1000678738,1000678738,MINDA ARCE DALIA MARIA OBERNISA,5. VENCIDA FASE II,CORRIENTE,CED,NaN,176.1,25,167,6,SI,MENOR A 180
6,1000693968,1000693968,SILVA GIRON JUAN FRANCISCO,MULTAS NUEVAS,CORRIENTE,CED,NaN,118.2,63,63,8,SI,MENOR A 180
7,1000729788,1000729788,LOZA ESPINOSA JULIO GABRIEL,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,327,327,8,SI,MAYOR A 180
8,1000779148,1000779148,RUBIO PALACIOS FRANKLIN RAUL,MULTAS NUEVAS,CORRIENTE,CED,NaN,38.6,467,467,10,SI,MAYOR A 180
9,1000937977,1000937977,SUAREZ SANCHEZ ALFREDO GLORIOSO,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,373,373,7,SI,MAYOR A 180
10,1000946119,1000946119,RHEA MEJIA ELSA EDITH DEL ROSARIO,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,166,166,0,SI,MENOR A 180
11,1000970861,1000970861,PAREDES ORTIZ JUAN ELIAS,MULTAS NUEVAS,CORRIENTE,CED,NaN,59.1,85,85,10,SI,MENOR A 180
12,1000974657,1000974657,PROAÑO BARRIGAS LUIS NORBERTO,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,372,372,10,SI,MAYOR A 180
13,1001002433,1001002433,PONCE CARRERA FABIO ANIBAL,MULTAS NUEVAS,CORRIENTE,CED,NaN,176.1,44,285,1,SI,MENOR A 180
14,1001053212,1001053212,LOPEZ SUAREZ CARLOS RAUL,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,322,322,10,SI,MAYOR A 180
15,1001053899,1001053899,RIVERA LEON JOSE RENAN,MULTAS NUEVAS,CORRIENTE,CED,NaN,39.4,61,61,10,SI,MENOR A 180
16,1001063021,1001063021,GUDIÑO ESTRELLA JORGE ANIBAL,MULTAS NUEVAS,CORRIENTE,CED,NaN,96.6,100,713,10,SI,MENOR A 180
17,1001161734,1001161734,BELTRAN MARIA MERCEDES,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,386,386,0,SI,MAYOR A 180
18,1001259165,1001259165,VEGA CABASCANGO LUIS ENRIQUE,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,289,289,1,SI,MAYOR A 180
19,1001264140,1001264140,BARAHONA MINA JOSE,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,365,365,9,SI,MAYOR A 180
20,1001437860,1001437860,SUBIA GONZALEZ NARCIZA JANETH,MULTAS NUEVAS,CORRIENTE,CED,NaN,115.8,171,171,5,SI,MENOR A 180
21,1001487923,1001487923,ANDRADE UVIDIA ELSA ELIZABETH,MULTAS NUEVAS,CORRIENTE,CED,NaN,347.4,169,380,2,SI,MENOR A 180
22,100150689,0100150689,PRADO GALARZA CARLOS FIDEL,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,413,413,6,SI,MAYOR A 180
23,1001600145,1001600145,SANCHEZ CACUANGO EDWIN MARCELO,MULTAS NUEVAS,CORRIENTE,CED,NaN,209.0,154,639,1,SI,MENOR A 180
24,1001656824,1001656824,ESCOBAR ESPINOSA OSCAR ANIBAL,MULTAS NUEVAS,CORRIENTE,CED,NaN,270.2,169,389,3,SI,MENOR A 180
25,1001661345,1001661345,GUALOTO MINA LUIS FERNANDO,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,341,341,4,SI,MAYOR A 180
26,1001677887,1001677887,TROYA GUERRERO IVAN SMIT,MULTAS NUEVAS,CORRIENTE,CED,NaN,59.1,58,58,10,SI,MENOR A 180
27,1001746476,1001746476,MENDEZ PABON SEGUNDO JOSELITO,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.7,103,103,10,SI,MENOR A 180
28,1001753795,1001753795,MALDONADO SENALIN WILSON GERARDO,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.3,290,290,10,SI,MAYOR A 180
29,1001767613,1001767613,DIAZ PICUASI JOSE ALFREDO,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,403,403,10,SI,MAYOR A 180
30,1001835899,1001835899,AGUIRRE CASTILLO JAVIER RAUL,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.3,481,481,10,SI,MAYOR A 180
31,1001851383,1001851383,ROSALES CUASAPAZ PEDRO MANUEL,MULTAS NUEVAS,CORRIENTE,CED,NaN,59.1,70,70,10,SI,MENOR A 180
32,1001854478,1001854478,ANDRADE BEJARANO NELSON HERMEL,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.3,369,369,10,SI,MAYOR A 180
33,1001888708,1001888708,TORRES PASTAS LUIS,MULTAS NUEVAS,CORRIENTE,CED,NaN,77.2,211,331,10,SI,MAYOR A 180
34,1001952975,1001952975,LOZA RIVERA JOSE GALBER,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,267,267,10,SI,MAYOR A 180
35,1002026670,1002026670,ARIAS CARVAJAL MARIA SOLEDAD,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,269,269,10,SI,MAYOR A 180
36,1002031704,1002031704,OYAGATA PERUGACHI LUIS ALFREDO,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.7,78,78,10,SI,MENOR A 180
37,1002060638,1002060638,MANRIQUE GUERRERO CARLOS IVAN,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,385,385,10,SI,MAYOR A 180
38,1002118808,1002118808,GUERRERO RODRIGUEZ JUSTO ELIAS,MULTAS NUEVAS,CORRIENTE,CED,NaN,1201.3,54,322,10,SI,MENOR A 180
39,1002126892,1002126892,BONILLA INLAGO LUIS IVAN,MULTAS NUEVAS,CORRIENTE,CED,NaN,231.6,262,271,5,SI,MAYOR A 180
40,1002143418,1002143418,PROAÑO VELASTEGUI JUAN CARLOS,MULTAS NUEVAS,CORRIENTE,CED,NaN,512.2,12,65,6,SI,MENOR A 180
41,1002237285,1002237285,CARCELEN ESPINOZA NERIS HOMERO,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.3,293,293,10,SI,MAYOR A 180
42,1002285243,1002285243,DOMINGUEZ ANDRADE LUIS RENE,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,345,345,10,SI,MAYOR A 180
43,1002304929,1002304929,RODRIGUEZ RODRIGUEZ LUIS MARCELO,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,307,307,10,SI,MAYOR A 180
44,1002311890,1002311890,ANGUAYA SINCHICO JUANA,MULTAS NUEVAS,CORRIENTE,CED,NaN,38.6,482,482,6,SI,MAYOR A 180
45,1002312823,1002312823,ESTRADA BENAVIDES EDGAR FABIAN,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.3,239,239,10,SI,MAYOR A 180
46,1002318382,1002318382,SALAZAR PINCAY JUAN GABRIEL,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.3,369,369,10,SI,MAYOR A 180
47,1002325049,1002325049,GUZMAN VELASCO JORGE BERAUT,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.7,86,86,10,SI,MENOR A 180
48,1002335345,1002335345,MENDOZA MERA LUIS RAFAEL,MULTAS NUEVAS,CORRIENTE,CED,NaN,386.0,180,180,9,SI,MAYOR A 180
49,1002379558,1002379558,INLAGO VALLE LUIS RAUL,MULTAS NUEVAS,CORRIENTE,CED,NaN,170.7,162,996,10,SI,MENOR A 180

In [48]:
especiales = pd.read_excel(open('DEMOGRAFICOS.xlsx','rb'), sheet_name='BASE ESPECIAL', dtype={"IDENTIFICACION_DEUDOR": str})

In [49]:
base_total1 = pd.merge(base_total,especiales,on=['IDENTIFICACION_DEUDOR'],how='left')

### CRUCES CON LA ASIGNACION Y LAS GESTIONES

In [50]:
primercruce = pd.merge(base_total1,gest_ase_porID,on=['NRO_IDENTIFICACION_CLIENTE'],how='left')

In [51]:
segundocruce = pd.merge(primercruce,gest_mas_porID,on=['NRO_IDENTIFICACION_CLIENTE'],how='left')

In [52]:
segundocruce.head()

,IDENTIFICACION_DEUDOR,NRO_IDENTIFICACION_CLIENTE,NOMBRE,SUBCAMPANAPORCLIENTE,CARTERA,TIPO,FECHA_COACTIVA,SALDO,DIAS_MORAmin,DIAS_MORAmax,U_PLACA,GENERACION_CONVENIO,MORA,CUOTA_VENCIDA,CALL_MES,CONT_MES,CALL_MESMAS,CONT_MESMAS
0,00042448K,00042448K,ARAGON JUAREZ SERGIO OTTONIEL,MULTAS NUEVAS,CORRIENTE,CED,NaN,115.8,205,205,9,SI,MAYOR A 180,SI,NaN,NaN,NaN,NaN
1,100025030,0100025030,CRESPO DELGADO JULIO TEODORO,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.3,382,382,10,SI,MAYOR A 180,NaN,MENSAJE CON TERCERO,TERC. VALIDO,CONTESTA IVR,TITULAR
2,1000559797,1000559797,RECALDE ESPINOSA ALFONSO OSWALDO,MULTAS NUEVAS,CORRIENTE,CED,NaN,248.8,114,562,10,SI,MENOR A 180,NaN,LOCALIZADO SIN ACUERDO,TITULAR,CONTESTA IVR,TITULAR
3,1000584647,1000584647,DELGADO CRIBAN NORBERTO,MULTAS NUEVAS,CORRIENTE,CED,NaN,57.9,362,362,2,SI,MAYOR A 180,NaN,NaN,NaN,CONTESTA IVR,TITULAR
4,1000620623,1000620623,REVELO JOSE ELIAS,MULTAS NUEVAS,CORRIENTE,CED,NaN,38.6,219,275,10,SI,MAYOR A 180,NaN,NO CONTESTA,NO CONTACTO,CONTESTA IVR,TITULAR

In [53]:
segundocruce.NRO_IDENTIFICACION_CLIENTE.count()

27946

## Consultar numeros de la BD

### -Querry para la consulta de telefonos

In [54]:
consulta="""SELECT 
                CONCAT(CEDULA) as IDENTIFICACION_DEUDOR,
                CONCAT('0',NUMERO) as NUMERO,
                CASE CONTACTO
                    WHEN '1' THEN 1
                    WHEN '2' THEN 2
                    WHEN '3' THEN 5
                    WHEN '4' THEN 4
                    WHEN '5' THEN 3
                    WHEN ' ' THEN 3
                    WHEN '' THEN 3
                    WHEN 'TITULAR' THEN 1
                    WHEN 'TERCERO' THEN 2
                    WHEN 'EQUIVOCADO' THEN 5
                    WHEN 'NO CONTACTO' THEN 4
                    WHEN NULL THEN 3
                    ELSE  3
                END  AS  dueno
            FROM
                TELEFONICOS_NUMEROS.TELEFONOS  HAVING dueno IN (1,2,5)  ORDER BY dueno;"""

In [55]:
DEMO=pd.read_sql(consulta, con=db)

In [56]:
DEMO.IDENTIFICACION_DEUDOR.count()

295708

In [57]:
# DEMOS='DEMOGRAFICOS TOTALES.xlsx'
# writer = pd.ExcelWriter(DEMOS, engine='xlsxwriter')
# DEMO.to_excel(writer,sheet_name='DEMO')
# worksheet = writer.sheets['DEMO']
# writer.save()

In [58]:
DEMO.head()

  IDENTIFICACION_DEUDOR      NUMERO  dueno
0         0000905191946  0993896300      1
1         0001720624509  0969758411      1
2            0907872485  0939695485      1
3            0909039109  0985344592      1
4            0917610396  0997910434      1

In [59]:
leer_demografico=pd.read_excel(open('DEMOGRAFICOS.xlsx','rb'), sheet_name='DEMOGRAFICOS', dtype={"IDENTIFICACION_DEUDOR": str,"NUMERO":str,'DEMO':str})

In [60]:
leer_demografico.head()

,IDENTIFICACION_DEUDOR,DEMO,PRIORIDAD,ESTADO,DEFINICION,NUMERO,NUEVO
0,425805,42426389,NaN,CORRECTO,TELEFONO,042426389,NO
1,102618907,824921,NaN,CORRECTO,TELEFONO,042824921,NO
2,102689486,72831423,NaN,CORRECTO,TELEFONO,072831423,NO
3,102969953,22572581,NaN,CORRECTO,TELEFONO,022572581,NO
4,201862992,42290540,NaN,CORRECTO,TELEFONO,042290540,NO

In [61]:
cruce_num = pd.merge(segundocruce,leer_demografico,on='IDENTIFICACION_DEUDOR',how='left')

In [62]:
cruce_num2 = pd.merge(cruce_num,DEMO,on=['IDENTIFICACION_DEUDOR','NUMERO'],how='left')
cruce_num2['dueno'].replace(to_replace=[1,2,5],value=['TITULAR','TERCERO','EQUIVOCADO'],inplace=True)

In [63]:
cruce_num2.drop_duplicates(['NUMERO','IDENTIFICACION_DEUDOR'], keep='first',inplace=True)

In [64]:
cruce_num2.head()

,IDENTIFICACION_DEUDOR,NRO_IDENTIFICACION_CLIENTE,NOMBRE,SUBCAMPANAPORCLIENTE,CARTERA,TIPO,FECHA_COACTIVA,SALDO,DIAS_MORAmin,DIAS_MORAmax,...,CONT_MES,CALL_MESMAS,CONT_MESMAS,DEMO,PRIORIDAD,ESTADO,DEFINICION,NUMERO,NUEVO,dueno
0,00042448K,00042448K,ARAGON JUAREZ SERGIO OTTONIEL,MULTAS NUEVAS,CORRIENTE,CED,NaN,115.8,205,205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100025030,0100025030,CRESPO DELGADO JULIO TEODORO,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.3,382,382,...,TERC. VALIDO,CONTESTA IVR,TITULAR,42018327,NaN,CORRECTO,TELEFONO,042018327,NO,TITULAR
2,100025030,0100025030,CRESPO DELGADO JULIO TEODORO,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.3,382,382,...,TERC. VALIDO,CONTESTA IVR,TITULAR,990806079,2.0,CORRECTO,CELULAR,0990806079,NO,TITULAR
3,100025030,0100025030,CRESPO DELGADO JULIO TEODORO,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.3,382,382,...,TERC. VALIDO,CONTESTA IVR,TITULAR,967093439,3.0,CORRECTO,CELULAR,0967093439,NO,NaN
4,1000559797,1000559797,RECALDE ESPINOSA ALFONSO OSWALDO,MULTAS NUEVAS,CORRIENTE,CED,NaN,248.8,114,562,...,TITULAR,CONTESTA IVR,TITULAR,994552348,3.0,CORRECTO,CELULAR,0994552348,NO,NaN

In [65]:
cruce_uno = pd.merge(cruce_num2,gest_ase_porID_DEM,on=['NRO_IDENTIFICACION_CLIENTE','NUMERO'],how='left')
cruce_dos = pd.merge(cruce_uno,gest_mas_porID_DEM,on=['NRO_IDENTIFICACION_CLIENTE','NUMERO'],how='left')

In [66]:
cruce_dos.head()

,IDENTIFICACION_DEUDOR,NRO_IDENTIFICACION_CLIENTE,NOMBRE,SUBCAMPANAPORCLIENTE,CARTERA,TIPO,FECHA_COACTIVA,SALDO,DIAS_MORAmin,DIAS_MORAmax,...,PRIORIDAD,ESTADO,DEFINICION,NUMERO,NUEVO,dueno,CALL_MESTEL,CONT_MESTEL,CALL_MESMASTEL,CONT_MESMASTEL
0,00042448K,00042448K,ARAGON JUAREZ SERGIO OTTONIEL,MULTAS NUEVAS,CORRIENTE,CED,NaN,115.8,205,205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100025030,0100025030,CRESPO DELGADO JULIO TEODORO,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.3,382,382,...,NaN,CORRECTO,TELEFONO,042018327,NO,TITULAR,MENSAJE CON TERCERO,TERC. VALIDO,CONTESTA IVR,TITULAR
2,100025030,0100025030,CRESPO DELGADO JULIO TEODORO,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.3,382,382,...,2.0,CORRECTO,CELULAR,0990806079,NO,TITULAR,NaN,NaN,NaN,NaN
3,100025030,0100025030,CRESPO DELGADO JULIO TEODORO,MULTAS NUEVAS,CORRIENTE,CED,NaN,19.3,382,382,...,3.0,CORRECTO,CELULAR,0967093439,NO,NaN,NaN,NaN,NaN,NaN
4,1000559797,1000559797,RECALDE ESPINOSA ALFONSO OSWALDO,MULTAS NUEVAS,CORRIENTE,CED,NaN,248.8,114,562,...,3.0,CORRECTO,CELULAR,0994552348,NO,NaN,NaN,NaN,NaN,NaN

In [67]:
asignacion_actual_dem['ASIGNADO']='SI'
asig_demo=asignacion_actual_dem[['IDENTIFICACION_DEUDOR','TELEFONO','ASIGNADO','PRIORIDAD']]

In [68]:
asig_demo = asig_demo.rename(columns={'TELEFONO':'NUMERO'})

In [69]:
asig_demo.head()

  IDENTIFICACION_DEUDOR     NUMERO ASIGNADO  PRIORIDAD
0             909884108  042795883       SI        3.0
1             916819485  042373469       SI        3.0
2             904786514  042213249       SI        3.0
3             920722113  042236895       SI        3.0
4             925393019  042493949       SI        3.0

In [70]:
verificacion = pd.merge(cruce_dos,asig_demo,on=['IDENTIFICACION_DEUDOR','NUMERO'],how='left')

In [71]:
verificacion.drop_duplicates(['IDENTIFICACION_DEUDOR','NUMERO'], keep='first',inplace=True)

In [72]:
infractores=""" SELECT Cedula as IDENTIFICACION_DEUDOR,count(*) as NUM_MULTAS,
                    min(Dia) as ingreso_min,max(Dia) as ingreso_max
                FROM 
                    SISTEMECUADOR_ATM.MULTAS_MENSUALES 
                where 
                    Mes={0} and anio={1} group by Cedula,Cartera""".format(Mes,Anio)

In [73]:
resultado_ingr=pd.read_sql(infractores, con=db)

In [74]:
verificacion_ul = pd.merge(verificacion,resultado_ingr,on=['IDENTIFICACION_DEUDOR'],how='left')

In [75]:
verificacion_ul = verificacion_ul.rename(columns={'NRO_IDENTIFICACION_CLIENTE':'CED'})

In [76]:
def order(frame,var):
    if type(var) is str:
        var = [var] #let the command take a string or list
    varlist =[w for w in frame.columns if w not in var]
    frame = frame[var+varlist]
    return frame

In [77]:
ordenColumn = ['NUMERO','NOMBRE','CED','SALDO','SUBCAMPANAPORCLIENTE','FECHA_COACTIVA','CARTERA','TIPO','DIAS_MORAmin','DIAS_MORAmax','U_PLACA']

In [78]:
verificacion1 = order(verificacion_ul,ordenColumn)

In [79]:
filtro = verificacion1[(verificacion1['ASIGNADO']=='SI') & (verificacion1['dueno']!='EQUIVOCADO')& (verificacion1['CONT_MESTEL']!='TERC. NO VALIDO')]

In [80]:
contactables = filtro[(filtro['CONT_MESTEL']=='TITULAR')|(filtro['CONT_MESTEL']=='CLIENTE')]
contactables_not = contactables[contactables['DEFINICION']=='CELULAR']

In [81]:
contactables_not.drop_duplicates(['IDENTIFICACION_DEUDOR'], keep='first',inplace=True)

c:\users\michael\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [82]:
titulares = filtro[(filtro['dueno']=='TITULAR')]

In [83]:
primera_fase = pd.concat([contactables,titulares])

In [84]:
tercero_mes = filtro[(filtro['CONT_MESTEL']=='TERC. VALIDO')]
teceros = filtro[(filtro['dueno']=='TERCERO')]

In [85]:
segunda_fase =  pd.concat([tercero_mes,teceros])

In [86]:
tercera_fase = filtro[(filtro['CONT_MESTEL'].isnull())]

In [87]:
semi_base = pd.concat([primera_fase,segunda_fase,tercera_fase,filtro])

In [88]:
semi_base.drop_duplicates(['IDENTIFICACION_DEUDOR'], keep='first',inplace=True)

In [89]:
nuevo_archivo='BASE ARREGLADA MARZO.xlsx'
writer = pd.ExcelWriter(nuevo_archivo, engine='xlsxwriter')
verificacion1.to_excel(writer,sheet_name='BASE_TOTAL')
worksheet = writer.sheets['BASE_TOTAL']
writer.save()

In [90]:
semi_base['IVR']="=BUSCARV(D2,'[IVR REPORTADOS MAYO.xlsx]Hoja2'!A$5:B$29111,2,0)"
semi_base['SMS']="=BUSCARV(D2,'[IVR REPORTADOS MAYO.xlsx]Hoja2'!A$5:C$29111,3,0)"
semi_base['WHATSAAP']="=BUSCARV(D2,'[IVR REPORTADOS MAYO.xlsx]Hoja2'!A$5:D$29111,4,0)"

In [91]:
nuevo_archivo2='Masivos DIA MES del 2019.xlsx'
writer = pd.ExcelWriter(nuevo_archivo2, engine='xlsxwriter')

# contactables.to_excel(writer,sheet_name='Notificar')
# worksheet = writer.sheets['Notificar']

semi_base.to_excel(writer,sheet_name='Toda la base')
worksheet = writer.sheets['Toda la base']

writer.save()