In [1]:
#importar pandas
import pandas as pd
import MySQLdb
import pandas as pd
from datetime import datetime,timedelta
import random

In [2]:
import numpy as np

In [3]:
db = MySQLdb.connect(host="172.18.55.6",    # tu host, usualmente localhost
                     user="comandato",         # tu usuario
                     passwd="comandato123",  # tu password
                     db="SISTEMECUADOR_ATM")        # el nombre de la base de datos

In [4]:
multas=""" SELECT Cedula,Segmento   FROM SISTEMECUADOR_ATM.MULTAS_MENSUALES where Mes=11 group by Cedula"""
resultado_multas=pd.read_sql(multas, con=db)

In [5]:
resultado_multas['NRO_IDENTIFICACION_CLIENTE']='0'+resultado_multas['Cedula']

In [6]:
consulta=""" SELECT
    COD_AGENTE,
    if(RESPUESTA_OBTENIDA in ('ACUERDO DE PAGO','ACUERDO DE CONVENIO'),2,1) as TIPO_GESTION,
    NRO_IDENTIFICACION_CLIENTE,
    CASA_COBRANZA,
    '' AS USUARIO_SAC,
    DATE_FORMAT(FECHA_GESTION, '%d/%m/%Y %H:%i:%s') as FECHA_GESTION,
    ACCION_REALIZADA,
    RESPUESTA_OBTENIDA,
    CONTACTO_GESTIONO,
    COMENTARIOS_GESTIONO,
    NUMERO_GESTION,
    MOTIVO_NO_PAGO as MOTIVO_NO_PAGO,
    DATE_FORMAT(FECHA_PROXIMA_GESTION,'%d/%m/%Y %H:%i:%s') AS FECHA_PROXIMA_GESTION,
    if(TIEMPO_GESTION<45,ROUND(rand()*60+45),TIEMPO_GESTION) as tiempo_gestion,
    if(RESPUESTA_OBTENIDA in ('ACUERDO DE PAGO','ACUERDO DE CONVENIO'),SUBSTRING(NRO_CUENTA_PROMESA,1,length(NRO_CUENTA_PROMESA)-1),'') as multa,
    if(RESPUESTA_OBTENIDA in ('ACUERDO DE PAGO','ACUERDO DE CONVENIO'),if(CAST(ROUND(VALOR_PROMESA) AS CHAR)<100,100,CAST(ROUND(VALOR_PROMESA) AS CHAR)),'') as valor,
    if(RESPUESTA_OBTENIDA in ('ACUERDO DE PAGO','ACUERDO DE CONVENIO'),DATE_FORMAT(FECHA_PAGO_PROMESA, '%d/%m/%Y'),'') AS FECHA_PAGO,
    DIRECCION_VISITA,
    '' as FASE,
    CANAL_GESTION
FROM
    SISTEMECUADOR_ATM.GESTION
WHERE
    NRO_IDENTIFICACION_CLIENTE!='' and RESPUESTA_OBTENIDA!='' and NUMERO_GESTION!=''
    AND RESPUESTA_OBTENIDA not IN('CONTESTO IVR','IVR','NO CONTESTO IVR') """

In [7]:
consulta1=consulta+"and FECHA_GESTION BETWEEN DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 0 DAY),'%Y/%m/%d 07:00:00') AND DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 0 DAY),'%Y/%m/%d 14:00:00') ORDER BY FECHA_GESTION ASC "
consulta2=consulta+"and FECHA_GESTION BETWEEN DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 0 DAY),'%Y/%m/%d 14:00:00') AND DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 0 DAY),'%Y/%m/%d 21:00:00') ORDER BY FECHA_GESTION ASC "

In [8]:
resultado1=pd.read_sql(consulta1, con=db)
resultado2=pd.read_sql(consulta2, con=db)

In [9]:
usuario=pd.read_excel(open('USUARIO.xlsx','rb'), sheet_name='Hoja1')

In [10]:
result3 = pd.merge(resultado1,usuario,on='COD_AGENTE',how='left')
result4 = pd.merge(resultado2,usuario,on='COD_AGENTE',how='left')

In [11]:
result5 = pd.merge(result3,resultado_multas,on='NRO_IDENTIFICACION_CLIENTE',how='left')
result6 = pd.merge(result4,resultado_multas,on='NRO_IDENTIFICACION_CLIENTE',how='left')

In [12]:
result5['Segmento'].replace(np.nan, "4. VENCIDA FASE I", inplace = True)
result6['Segmento'].replace(np.nan, "4. VENCIDA FASE I", inplace = True)

In [13]:
result5['FASE']=result5['Segmento']
result5['USUARIO_SAC']=result5['CODIGO']
result6['FASE']=result6['Segmento']
result6['USUARIO_SAC']=result6['CODIGO']

In [14]:
result5.drop(['COD_AGENTE','CODIGO','Cedula','Segmento'], axis=1, inplace=True)
result6.drop(['COD_AGENTE','CODIGO','Cedula','Segmento'], axis=1, inplace=True)

In [15]:
def quitar_espacio(base):
    comentario=base['COMENTARIOS_GESTIONO']
    if comentario[0]==' ':
        return comentario[1:]
    return comentario

In [16]:
result5['COMENTARIOS_GESTIONO']=result5.apply(quitar_espacio,axis=1)

In [17]:
try:
    result6['COMENTARIOS_GESTIONO']=result6.apply(quitar_espacio,axis=1)
except:
    pass

In [18]:
result5.sort_values(by='USUARIO_SAC',ascending=False,inplace=True)
result6.sort_values(by='USUARIO_SAC',ascending=False,inplace=True)

In [19]:
nombre_1=result5['USUARIO_SAC'].value_counts().reset_index()
nombre_1['tipo']='MAÑANA'

In [20]:
nombre_2=result6['USUARIO_SAC'].value_counts().reset_index()
nombre_2['tipo']='NOCHE'

In [21]:
total=pd.concat([nombre_1,nombre_2])

In [22]:
total.sort_values(['tipo','USUARIO_SAC'])

              index  USUARIO_SAC    tipo
7  EARGUELLO_SISTEM           36  MAÑANA
6   AHERRERA_SISTEM           94  MAÑANA
5     MMEJIA_SISTEM           95  MAÑANA
4   JMONCAYO_SISTEM          103  MAÑANA
3    CTORRES_SISTEM          113  MAÑANA
2     GTOALA_SISTEM          117  MAÑANA
1   NLARROSA_SISTEM          129  MAÑANA
0   JHERMIDA_SISTEM          161  MAÑANA
7     BSOLIS_SISTEM          117   NOCHE
6  JBARRAGAN_SISTEM          143   NOCHE
5    IQUINDE_SISTEM          150   NOCHE
4    MMALATS_SISTEM          164   NOCHE
3   JCERCADO_SISTEM          168   NOCHE
2      WVERA_SISTEM          176   NOCHE
1      JVERA_SISTEM          189   NOCHE
0    GROBLES_SISTEM          234   NOCHE

In [23]:
writer = pd.ExcelWriter('ESTRUCTURA DE GESTION Y MASIVOS AL XX DE ENERO.xlsx', engine='xlsxwriter')

In [24]:
result5.to_excel(writer,  index = False, sheet_name='PRIMER_GESTION')
worksheet = writer.sheets['PRIMER_GESTION']
result6.to_excel(writer,  index = False,sheet_name='SEGUNDA_GESTION')
worksheet = writer.sheets['SEGUNDA_GESTION']
total.to_excel(writer,  index = False,sheet_name='NUMGESTION')
worksheet = writer.sheets['NUMGESTION']
writer.save()