In [1]:
import pandas as pd
import MySQLdb
from datetime import datetime,timedelta

In [2]:
Anio='2019'
Mes='05'
Dia_act='21'

In [3]:
# nombre de los archivos Demografico
nom_actual_dem='..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\MAYO\Sistema de cobro_'+Dia_act+'_'+Mes+'_'+Anio+'.xlsx'
nombre_hoja_dem='Demografico'

In [4]:
asignacion_actual_dem=pd.read_excel(open(nom_actual_dem,'rb'), sheet_name=nombre_hoja_dem, dtype={"IDENTIFICACION_DEUDOR": str,'TELEFONO':str})

In [5]:
asignacion_actual_dem['ASIGNADO']='SI'
asig_demo=asignacion_actual_dem[['TELEFONO','ASIGNADO']]

In [6]:
db2 = MySQLdb.connect(host="172.18.55.99",    # tu host, usualmente localhost
                     user="comandato",         # tu usuario
                     passwd="comandato123",  # tu password
                     db="call_center")        # el nombre de la base de datos

In [7]:
cur2= db2.cursor()

In [8]:
consulta="""SELECT id FROM call_center.campaign where queue in ('3333','3334');"""
campañas=pd.read_sql(consulta, con=db2)

In [9]:
campañas.head()

    id
0  913
1  914
2  924
3  926
4  927

In [10]:
pull=''
for campaña in campañas.itertuples():
    pull=pull+str(campaña.id)+','

In [11]:
campañas_tip='('+pull[:-1]+')'

In [12]:
campañas_tip

'(913,914,924,926,927,932,933)'

In [13]:
consulta2="SELECT  id,phone as 'TELEFONO' FROM call_center.calls where id_campaign in"+campañas_tip+ "and status is null;"
llamadas = pd.read_sql(consulta2, con=db2)

In [14]:
llamadas.head()

        id    TELEFONO
0  4074811  0999751760
1  4074813  0999699536
2  4074814  0999695345
3  4074815  0999693185
4  4074816  0999690720

In [15]:
verificacion = pd.merge(llamadas,asig_demo,on=['TELEFONO'],how='left')

In [16]:
verificacion.drop_duplicates(['id'], keep='first',inplace=True)

In [17]:
verificacion[verificacion['ASIGNADO']=='SI'].TELEFONO.count()

12371

In [18]:
eliminar=verificacion[verificacion['ASIGNADO'].isnull()]

In [19]:
eliminar

            id    TELEFONO ASIGNADO
50     4074850  0999587216      NaN
238    4075019  0998867400      NaN
420    4075171  0997853250      NaN
427    4075177  0997829450      NaN
958    4075627  0995190619      NaN
1036   4075697  0994597649      NaN
1226   4075865  0993911809      NaN
1654   4076226  0991642586      NaN
1780   4076326  0991028172      NaN
2297   4076755  0986576762      NaN
2315   4076770  0986405103      NaN
2563   4076993  0982649635      NaN
2839   4077231  0968041815      NaN
2944   4077318  0939259789      NaN
3348   4077663  0997668026      NaN
3568   4077847  0996571328      NaN
3571   4077850  0996558127      NaN
3632   4077905  0996103845      NaN
3732   4077988  0994904343      NaN
3769   4078018  0994669873      NaN
4183   4078379  0991453546      NaN
4313   4078484  0990373821      NaN
4535   4078665  0987266018      NaN
4654   4078767  0985179753      NaN
4782   4078888  0981638686      NaN
5004   4079077   072815758      NaN
5006   4079079   072387166      NaN
5030   4079104   045044603      NaN
5191   4079238   042123948      NaN
5514   4083108  0985179753      NaN
...        ...         ...      ...
5541   4083130  0993911809      NaN
5743   4083281  0939098570      NaN
5954   4083447  0997853250      NaN
6038   4083528   042123488      NaN
6244   4083708  0994451804      NaN
6531   4083930   042040912      NaN
6967   4084271  0980665946      NaN
7388   4084599  0968041815      NaN
7621   4084796  0991028172      NaN
7783   4084928  0987214670      NaN
8107   4085206  0981368960      NaN
8438   4085460  0988927087      NaN
8443   4085465   045044603      NaN
8567   4085561   042362465      NaN
8873   4085801  0994669873      NaN
9229   4086087  0997649755      NaN
9505   4086296   042608087      NaN
9613   4086393   042796374      NaN
10202  4086864  0969425713      NaN
10210  4086869   042986340      NaN
11632  4088007  0981638686      NaN
12106  4106814   042704966      NaN
12937  4142688  0991783155      NaN
13551  4143239  0988275963      NaN
13861  4143520  0980332605      NaN
14405  4144021  0967071576      NaN
15699  4145187  0990049554      NaN
15706  4145193  0969781983      NaN
15718  4145203  0986751046      NaN
15721  4145206   044061121      NaN

[61 rows x 3 columns]

In [20]:
cont=0
cont1=0
for row in eliminar.itertuples():
    delete1 = """ DELETE FROM `call_center`.`call_attribute` WHERE `id_call`='{0}'; """.format(row.id)
    try:
        cur2.execute(delete1)
        db2.commit()
        cont=cont+1
    except:
        db2.rollback()
    delete2 = """ DELETE FROM `call_center`.`calls` WHERE `id`='{}'; """.format(row.id)
    try:
        cur2.execute(delete2)
        db2.commit()
        cont1=cont1+1
    except:
        db2.rollback()
print(cont)
print(cont1)

61
61

In [21]:
nuevo_archivo='NUMEROS ELIMINADOS PREDICTIVA DATATOOLS.xlsx'
writer = pd.ExcelWriter(nuevo_archivo, engine='xlsxwriter')
eliminar.to_excel(writer,sheet_name='BASE')
worksheet = writer.sheets['BASE']
writer.save()