In [1]:
import pandas as pd

In [22]:
base=pd.read_excel(open('REPORTE CONSOLIDADO.xlsx','rb'), sheet_name='Hoja1')

In [24]:
base["ACUERDO"]  = base["ACUERDO"].astype('category')
base["ACUERDO"]  = base["ACUERDO"].cat.set_categories(["ACUERDO DE PAGO","SIN RESPUESTA"])
base["CONTACTO"]  = base["CONTACTO"].astype('category')
base["CONTACTO"]  = base["CONTACTO"].cat.set_categories(["TITULAR","TERCERO","SIN IDENTIFICAR"])
base["CONTACTABILIDAD"]  = base["CONTACTABILIDAD"].astype('category')
base["CONTACTABILIDAD"]  = base["CONTACTABILIDAD"].cat.set_categories(["CONTESTO IVR","NO CONTESTO IVR"])
base["MES"]  = base["MES"].astype('category')
base["MES"]  = base["MES"].cat.set_categories(["JULIO","AGOSTO","SEPTIEMBRE"])
base.head()

,CEDULA,SALDO,CONTACTABILIDAD,CONTACTO,ACUERDO,MES,SEMANA
0,478836,18.75,CONTESTO IVR,TITULAR,SIN RESPUESTA,JULIO,1
1,10497251,55.80,CONTESTO IVR,SIN IDENTIFICAR,SIN RESPUESTA,JULIO,1
2,35037188,35.40,CONTESTO IVR,TITULAR,SIN RESPUESTA,JULIO,1
3,63320369,17.70,CONTESTO IVR,SIN IDENTIFICAR,SIN RESPUESTA,JULIO,1
4,63543290,18.30,CONTESTO IVR,SIN IDENTIFICAR,SIN RESPUESTA,JULIO,1

In [45]:
base=base.sort_values(by=['MES'],ascending=[True])

In [46]:
base=base.sort_values(by=['CONTACTABILIDAD'],ascending=[True])

In [47]:
base=base.sort_values(by=['CONTACTO'],ascending=[True])

In [48]:
base=base.sort_values(by=['ACUERDO'],ascending=[True])

In [55]:
base.count()

CEDULA             467952
SALDO              467952
CONTACTABILIDAD    467952
CONTACTO           467952
ACUERDO            467952
MES                467952
SEMANA             467952
dtype: int64

In [49]:
base_noduplicados=base.copy()

In [50]:
base_noduplicados=base_noduplicados.drop_duplicates(['CEDULA'], keep='first')

In [53]:
base_noduplicados.count()

CEDULA             53134
SALDO              53134
CONTACTABILIDAD    53134
CONTACTO           53134
ACUERDO            53134
MES                53134
SEMANA             53134
dtype: int64

In [37]:
base_pormes=base.copy()

In [52]:
base_pormes=base_pormes.drop_duplicates(['CEDULA','MES'], keep='first')

In [54]:
base_pormes.count()

CEDULA             126452
SALDO              126452
CONTACTABILIDAD    126452
CONTACTO           126452
ACUERDO            126452
MES                126452
SEMANA             126452
dtype: int64

In [57]:
writer = pd.ExcelWriter('Por meses.xlsx', engine='xlsxwriter')
base_pormes.to_excel(writer, sheet_name='BASE TOTAL')
worksheet = writer.sheets['BASE TOTAL']