In [1]:
import pandas as pd
import MySQLdb
import time

In [2]:
Anio_act='2019'
Mes_act='03'
Dia_act='08'

In [3]:
Anio_ant='2019'
Mes_ant='03'
Dia_ant='07'

In [4]:
corr_act={
    'ruta':'..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\ENERO\Sistema de cobro_'+Dia_act+'_'+Mes_act+'_'+Anio_act+'.xlsx',
    'hoja':'Asignacion',
    'cartera':'CORRIENTE',
    'identificador':'IDENTIFICACION_DEUDOR'
}

men_act={
    'ruta':'..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\ENERO\Sistema de cobro_'+Dia_act+'_'+Mes_act+'_'+Anio_act+'.xlsx',
    'hoja':'Menores',
    'cartera':'MENOR',
    'identificador':'IDENTIFICACION_DEUDOR'
}

conv_act={
    'ruta':'..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\ENERO\CONVENIOS_SISTEM_'+Dia_act+'_'+Mes_act+'_'+Anio_act+'.xlsx',
    'hoja':'Hoja1',
    'cartera':'CONVENIOS',
    'identificador':'NUMERO_IDENTIFICACION'
}

dem_act={
    'ruta':'..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\ENERO\Sistema de cobro_'+Dia_act+'_'+Mes_act+'_'+Anio_act+'.xlsx',
    'hoja':'Demografico',
    'cartera':'DEMOGRAFICO',
    'identificador':'IDENTIFICACION_DEUDOR'
}

In [5]:
corr_ant={
    'ruta':'..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\ENERO\Sistema de cobro_'+Dia_ant+'_'+Mes_ant+'_'+Anio_ant+'.xlsx',
    'hoja':'Asignacion',
    'cartera':'CORRIENTE',
    'identificador':'IDENTIFICACION_DEUDOR'
}

men_ant={
    'ruta':'..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\ENERO\Sistema de cobro_'+Dia_ant+'_'+Mes_ant+'_'+Anio_ant+'.xlsx',
    'hoja':'Menores',
    'cartera':'MENOR',
    'identificador':'IDENTIFICACION_DEUDOR'
}
conv_ant={
    'ruta':'..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\ENERO\CONVENIOS_SISTEM_'+Dia_ant+'_'+Mes_ant+'_'+Anio_ant+'.xlsx',
    'hoja':'Hoja1',
    'cartera':'CONVENIOS',
    'identificador':'NUMERO_IDENTIFICACION'
}
dem_ant={
    'ruta':'..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\ENERO\Sistema de cobro_'+Dia_ant+'_'+Mes_ant+'_'+Anio_ant+'.xlsx',
    'hoja':'Demografico',
    'cartera':'DEMOGRAFICO',
    'identificador':'IDENTIFICACION_DEUDOR'
}

In [6]:
arch_dem_act=pd.read_excel(open(dem_act['ruta'],'rb'), sheet_name=dem_act['hoja'])
arch_dem_ant=pd.read_excel(open(dem_ant['ruta'],'rb'),  sheet_name=dem_ant['hoja'])

In [7]:
arch_dem_act.head()

,IDENTIFICACION_DEUDOR,casa,TELEFONO,ESTADO_CREDITO,ESTADO,PRIORIDAD
0,927849158,SISTEMA DE COBRO DEL ECUADOR,994386046,COACTIVO,BUENO,NaN
1,916169550,SISTEMA DE COBRO DEL ECUADOR,969293877,COACTIVO,BUENO,2.0
2,1708410137,SISTEMA DE COBRO DEL ECUADOR,979496247,COACTIVO,BUENO,2.0
3,1307566123,SISTEMA DE COBRO DEL ECUADOR,969941726,COACTIVO,BUENO,0.0
4,924977465,SISTEMA DE COBRO DEL ECUADOR,960294220,CONVENIOS,BUENO,0.0

In [9]:
arch_dem_act.count()

IDENTIFICACION_DEUDOR    109277
casa                     109277
TELEFONO                 109277
ESTADO_CREDITO           109277
ESTADO                   109277
PRIORIDAD                 76660
dtype: int64

In [8]:
arch_dem_ant.head()

,IDENTIFICACION_DEUDOR,Unnamed: 1,TELEFONO,ESTADO_CREDITO,ESTADO,PRIORIDAD
0,3778859,SISTEMA DE COBRO DEL ECUADOR,42123115,COACTIVO,BUENO,NaN
1,3778859,SISTEMA DE COBRO DEL ECUADOR,42695991,COACTIVO,BUENO,2.0
2,3778859,SISTEMA DE COBRO DEL ECUADOR,967792004,COACTIVO,BUENO,NaN
3,3778859,SISTEMA DE COBRO DEL ECUADOR,985728753,CONVENIOS,BUENO,2.0
4,5216855,SISTEMA DE COBRO DEL ECUADOR,959653810,COACTIVO,BUENO,0.0

In [10]:
arch_dem_ant.count()

IDENTIFICACION_DEUDOR    108285
Unnamed: 1               108285
TELEFONO                 108285
ESTADO_CREDITO           108285
ESTADO                   108285
PRIORIDAD                 73566
dtype: int64