In [6]:
import pandas as pd

In [13]:
marco_prueba=pd.DataFrame({
    'A':['A','B','C','D','D'],
    'B':[1,2,3,4,5]
})

In [14]:
marco_prueba

   A  B
0  A  1
1  B  2
2  C  3
3  D  4
4  D  5

In [28]:
marco_prueba.groupby('A').agg({'B':['min', 'max','mean','sum']})

    B
  min max mean sum
A
A   1   1  1.0   1
B   2   2  2.0   2
C   3   3  3.0   3
D   4   5  4.5   9

In [21]:
marco_prueba.groupby(['A']).max()['B'].reset_index()

   A  B
0  A  1
1  B  2
2  C  3
3  D  5